* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Main Class in Any div parent */
.container {
  width: 80%;
  margin: 15px auto;
}

:root {
  --main-color: #9f1239;
  --dark-toogle: #222;
  --text-color: #222;
}

body.dark {
  --text-color: #fff;
  --main-color: #db4444;
}

header {
  margin-bottom: 20px;
  border-bottom: 1px solid var(--text-color);
}

/* nav */
nav h1 {
  letter-spacing: 2px;
  color: var(--text-color);
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.seacrch {
  background-color: #ddd;
  padding: 7px;
  border-radius: 10px;
  margin-right: 9px;
  transition: 0.3s;
}

.seacrch:focus {
  scale: 1.1;
}

nav .linkes {
  display: flex;
  justify-content: space-between;
  width: 30%;
}

nav .linkes p {
  color: var(--text-color);
  font-size: 16px;
  transition: 0.3s;
}

nav .linkes a p:hover {
  color: var(--main-color);
}

nav .linkes a.active {
  border-bottom: 2px solid var(--text-color);
}

nav form i {
  margin: 0 8px;
  font-size: 17px;
  transition: 0.3s;
  color: var(--text-color);
}

form .icons {
  margin-top: 5px;
  text-align: center;
}

nav form i:hover {
  color: var(--main-color);
  cursor: pointer;
}

/* Toogle Dark Mode */
.toggle {
  cursor: pointer;
  position: fixed;
  right: 10px;
  top: 5px;
  display: flex;
  justify-content: space-between;
  width: 100px;
  height: 40px;
  border-radius: 50px;
  transition: 0.2s;
}

.toggle i {
  width: 50%;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
  z-index: 1;
}

.toggle .ball {
  position: absolute;
  width: 30px;
  height: 30px;
  margin: 5px 10px;
  border-radius: 50%;
  transition: 0.3s ease-out;
}

input#toggle {
  display: none;
}

/*
    -- Light Mode --
*/

.light {
  background: #fafafa;
}

.light .toggle {
  background: linear-gradient(145deg, #e1e1e1, #fff);
  box-shadow: 3px 3px 4px #e6e6e6, -3px -3px 4px #ffffff;
}

.light .toggle .bxs-sun {
  color: #fafafa;
}

.light .toggle .bx-moon {
  color: #151d2a;
}

.light .toggle .ball {
  background: #151d2a;
}

/*
    -- Dark Mode --
*/

.dark {
  background: #151d2a;
}

.dark .toggle {
  background: #151d2a;
  box-shadow: 3px 3px 3px #0e131b, -3px -3px 3px #1c2739;
}

.dark .toggle .bx-sun {
  color: #fafafa;
}

.dark .toggle .bxs-moon {
  color: #151d2a;
}

.dark .toggle .ball {
  background: #fafafa;
  transform: translateX(50px);
}

/* Footer */
footer {
  background-color: black;
  color: #fff;
}

footer .container {
  display: flex;
  justify-content: space-between;
}

.foot1 h3,
.foot1 h5,
.foot1 p,
footer .container p,
footer .container h3 {
  margin: 15px 0;
  color: #fff;
  transition: 0.8s;
}

footer .container h3 {
  margin-bottom: 20px;
}

footer .container p:hover,
footer .container h5:hover {
  color: var(--main-color);
  position: relative;
  left: 10px;
}

.linkesRes {
  display: none;
}

.showLinks {
  display: none;
}

.linkesRes ul a {
  display: none;
}

/* start Responsive */
@media (max-width: 1024px) {
  .linkesRes ul a {
    display: block;
    color: var(--text-color);
    margin: 10px 0;
    font-size: 18px;
    width: 100px;
  }

  .linkesRes {
    width: 40%;
    border: 2px solid red;
    height: 100%;
    position: relative;
    left: 400px;
    transition: 0.3s;
  }

  .showLinks.active .linkesRes {
    left: 10px;
  }

  .showLinks {
    display: block;
  }

  .linkesRes {
    display: block;
  }
}

/* Media Queries */
@media (max-width: 1000px) {
  .container {
    width: 90%;
  }

  nav {
    flex-direction: column;
    align-items: center;
  }

  nav h1 {
    margin: 5px;
    font-size: 35px;
  }

  nav .linkes {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }

  nav .linkes p {
    font-size: 18px;
    margin: 10px;
  }

  nav form i {
    font-size: 20px;
  }

  form {
    width: 50%;
    text-align: center;
  }

  .seacrch {
    margin: 10px 0;
    width: 100%;
    height: 35px;
    border: 20px;
  }

  footer .container {
    display: flex;
    flex-wrap: wrap;
  }

  footer .container div {
    width: 40%;
  }
}

@media (max-width: 551px) {
  footer .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  footer .container div {
    width: 60%;
  }

  .foot1 h3 {
    font-size: 30px;
  }
}

@media (max-width: 450px) {
  nav h1 {
    font-size: 30px;
  }

  nav .linkes p {
    font-size: 15px;
  }

  nav form i {
    font-size: 15px;
  }
}

/*      --Start Cart--    */

/* Breadcrumb Cart */
.breadcrumb-cart {
  margin-bottom: 50px;
  font-size: 18px;
  font-weight: 500;
}

.breadcrumb-cart .a1 {
  color: #ada6a6;
  margin-right: 8px;
  text-decoration: none;
}

.breadcrumb-cart .a2 {
  color: black;
  margin-left: 8px;
  text-decoration: none;
}

/* Cart Table */
.cart-container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.cart-grid {
  width: 100%;
  margin-bottom: 30px;
}

.cart-header {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  gap: 20px;
  padding: 15px 0;
  box-shadow: 0px 1px 13px 0px rgba(0, 0, 0, 0.05);
  font-weight: bold;
  padding-left: 25px;
  margin-bottom: 30px;
  background: #fafafa;
}

.cart-item-row {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  gap: 20px;
  padding: 20px 0;
  padding-left: 25px;
  align-items: center;
  box-shadow: 0px 1px 13px 0px rgba(0, 0, 0, 0.05);
  margin-bottom: 30px;
  background: #fafafa;
}

.product-info {
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;
}

.product-info img {
  width: 55px;
  height: 55px;
  object-fit: cover;
  position: relative;
  z-index: 1;
}

.product-info .remove {
  z-index: 2;
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  cursor: pointer;
}

.quantity-input {
  width: 50px;
  padding: 5px;
  background: #fafafa;
  border: 1.5px solid #00000066;
  border-radius: 4px;
}

/* Buttons Cart */
.cart-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.btn {
  padding: 10px 20px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  color: rgba(0, 0, 0, 1);
  border-radius: 4px;
  background: #fafafa;
  cursor: pointer;
  transition: 0.3s;
}

.btnn {
  transition: 0.3s;
}

.btnn:hover {
  background-color: #eee;
  scale: 1.1;
}

.btn-primary {
  background: #db4444;
  color: white;
}

.btn-primary:hover {
  background: #e07575;
}

.cart-bottom-section {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

/* Coupon Section Cart */
.left-section {
  flex: 1;
}

.coupon-section {
  display: flex;
  gap: 15px;
  margin-bottom: 30px;
}

.coupon-input {
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 1);
  background: #fafafa;
  border-radius: 4px;
  width: 200px;
  transition: 0.3s;
}

.coupon-input:focus {
  scale: 1.1;
}

/* Cart Total */
.cart-total {
  border: 1px solid rgba(0, 0, 0, 1);
  border-radius: 4px;
  padding: 20px;
  background: #fafafa;
  width: 450px;
  margin-bottom: 50px;
}

.cart-total h3 {
  margin-bottom: 20px;
}

.total-row {
  display: flex;
  justify-content: space-between;
  padding: 10px 0 10px 0;
}

.row1,
.row2 {
  border-bottom: 1px solid #a6a4a4eb;
}

/* Cart Dark Mode */
.dark .breadcrumb-cart .a2 {
  color: #eee;
}

.dark .cart-header,
.dark .cart-item-row {
  box-shadow: 0px 1px 13px 0px rgba(116, 115, 115, 0.942);
  background-color: #eee;
}

.dark .cart-total,
.dark .coupon-input,
.dark .quantity-input,
.dark .cart-buttons .btn {
  background-color: #eee;
}

.dark .row1,
.dark .row2 {
  border-bottom: 1px solid #0e0d0deb;
}

.dark .cart-buttons .btnn:hover {
  background-color: #ede7e7;
}

/* Media Queries Cart*/
@media (max-width: 1000px) {
  .cart-container {
    padding: 10px;
  }

  .cart-header {
    grid-template-columns: 2fr 1fr 1fr 1fr;
    gap: 10px;
    font-size: 14px;
  }

  .cart-item-row {
    grid-template-columns: 2fr 1fr 1fr 1fr;
    gap: 10px;
  }

  .product-info {
    gap: 10px;
  }

  .cart-bottom-section {
    flex-direction: column;
  }

  .cart-total {
    width: 100%;
  }
}

@media (max-width: 551px) {
  .cart-header {
    grid-template-columns: 2fr 1fr 1fr;
  }

  .cart-item-row {
    grid-template-columns: 2fr 1fr 1fr;
  }

  .cart-header div:last-child,
  .cart-item-row div:last-child {
    display: none;
  }

  .cart-buttons {
    flex-direction: column;
    gap: 10px;
  }

  .cart-buttons .btn {
    width: 100%;
  }

  .coupon-section {
    flex-direction: column;
  }

  .coupon-input {
    width: 100%;
  }
}

@media (max-width: 450px) {
  .cart-container {
    padding: 5px;
  }

  .cart-header {
    grid-template-columns: 2fr 1fr;
  }

  .cart-item-row {
    grid-template-columns: 2fr 1fr;
    gap: 5px;
  }

  .cart-header div:nth-child(3),
  .cart-item-row div:nth-child(3) {
    display: none;
  }

  .product-info img {
    width: 60px;
    height: 60px;
  }

  .product-info .remove {
    left: 45px;
  }

  .product-info span {
    font-size: 14px;
  }

  .cart-total {
    padding: 15px;
  }

  .btn {
    padding: 8px 15px;
    font-size: 14px;
  }
}

/*      --End Cart--    */

/*      --Start About--   */

/* breadcrumb-about */
.breadcrumb-about {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  margin-left: 140px;
  margin-top: 60px;
}

.breadcrumb-about .a1 {
  color: gray;
}

.breadcrumb-about .a2 {
  margin: 0 5px;
  color: #000;
}

.breadcrumb-about .a2 {
  color: #333;
}

.dark .breadcrumb-about .a1 {
  color: #ccc;
}

.dark .breadcrumb-about .a2 {
  color: #fff;
}

/* about section */
.about-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px;
  background-color: #f9f9f9;
}

.dark .about-section {
  background: #151d2a;
}

/* teams */
.team {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
}

.team-member {
  text-align: center;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  width: 300px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.team-member:hover {
  transform: scale(1.05);
  /* تأثير تكبير عند المرور */
}

.team-member img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 15px;
}

.team-member h3 {
  font-size: 20px;
  color: #333;
  margin-bottom: 5px;
}

.team-member p {
  font-size: 16px;
  color: #666;
}

.dark .team-member {
  background-color: #999;
}

.dark .team-member h3 {
  color: black;
}

.dark .team-member p {
  color: #111;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
  list-style: none;
  padding: 0;
}

.social-links li {
  font-size: 18px;
}

.social-links li a {
  color: #555;
  text-decoration: none;
  transition: color 0.3s;
}

.social-links li a .fa-instagram:hover {
  color: #e71c37;
}

.social-links li a .fa-twitter:hover {
  color: #1c52e7;
}

.social-links li a .fa-linkedin:hover {
  color: #1c52e7;
}

.dark .social-links li a {
  color: #222;
}

/* features */
.features {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px 20px;
}

.features {
  display: flex;
  justify-content: space-around;
  padding: 40px;
  flex-wrap: wrap;
  gap: 70px;
  margin-bottom: 50px;
}

.feature-box {
  text-align: center;
  padding: 25px;
  background: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 250px;
}

.feature-box:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.15);
}

.feature-box i {
  display: inline-block;
  width: 80px;
  height: 80px;
  line-height: 80px;
  font-size: 35px;
  border-radius: 50%;
  margin-bottom: 15px;
  transition: transform 0.3s ease, background-color 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #333;
  /* لون جديد */
  color: #fff;
}

.feature-box i:hover {
  transform: scale(1.1);
  background-color: #000;
}

.feature-box h3 {
  font-size: 22px;
  margin: 15px 0;
  color: #333;
  font-weight: 600;
}

.feature-box p {
  font-size: 14px;
  color: #777;
}

.dark .feature-box {
  background-color: #999;
  color: #ddd;
  box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);
  /* تخفيف الظلال */
}

.dark .feature-box h3 {
  color: black;
}

.dark .feature-box p {
  color: #111;
}

.dark .feature-box i {
  background-color: #222;
  color: #fff;
}

/*      --End About--   */