* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Main Class in Any div parent */
.container {
  width: 80%;
  margin: 15px auto;
  overflow-x: hidden;
}

:root {
  --main-color: #9f1239;
  --dark-toogle: #222;
  --text-color: #222;
  --white-color: #fff;
  --dark-color: #222;
}

body.dark {
  --text-color: #fff;
  --main-color: #b93838;
  --white-color: #222;
  --dark-color: #fff;
}

header {
  margin-bottom: 20px;
  border-bottom: 1px solid var(--text-color);
}

/* nav */
nav h1 {
  letter-spacing: 2px;
  color: var(--text-color);
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.seacrch {
  background-color: #ddd;
  padding: 7px;
  border-radius: 10px;
  margin-right: 9px;
  transition: 0.3s;
}

.seacrch:focus {
  scale: 1.1;
}

nav .linkes {
  display: flex;
  justify-content: space-between;
  width: 30%;
}

nav .linkes p {
  color: var(--text-color);
  font-size: 16px;
  transition: 0.3s;
}

nav .linkes a p:hover {
  color: var(--main-color);
}

nav .linkes a.active {
  border-bottom: 2px solid var(--text-color);
}

nav form i {
  margin: 0 8px;
  font-size: 17px;
  transition: 0.3s;
  color: var(--text-color);
}

form .icons {
  margin-top: 5px;
  text-align: center;
}

nav form i:hover {
  color: var(--main-color);
  cursor: pointer;
}

/* Toogle Dark Mode */
.toggle {
  cursor: pointer;
  position: fixed;
  right: 10px;
  top: 5px;
  display: flex;
  justify-content: space-between;
  width: 100px;
  height: 40px;
  border-radius: 50px;
  transition: 0.2s;
}

.toggle i {
  width: 50%;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
  z-index: 1;
}

.toggle .ball {
  position: absolute;
  width: 30px;
  height: 30px;
  margin: 5px 10px;
  border-radius: 50%;
  transition: 0.3s ease-out;
}

input#toggle {
  display: none;
}

/*
    -- Light Mode --
*/

.light {
  background: #fafafa;
}

.light .toggle {
  background: linear-gradient(145deg, #e1e1e1, #fff);
  box-shadow: 3px 3px 4px #e6e6e6, -3px -3px 4px #ffffff;
  z-index: 100;
}

.light .toggle .bxs-sun {
  color: #fafafa;
}

.light .toggle .bx-moon {
  color: #151d2a;
}

.light .toggle .ball {
  background: #151d2a;
}

/*
    -- Dark Mode --
*/

.dark {
  background: #151d2a;
}

.dark .toggle {
  background: #151d2a;
  box-shadow: 3px 3px 3px #0e131b, -3px -3px 3px #1c2739;
}

.dark .toggle .bx-sun {
  color: #fafafa;
}

.dark .toggle .bxs-moon {
  color: #151d2a;
}

.dark .toggle .ball {
  background: #fafafa;
  transform: translateX(50px);
}

/* Footer */
footer {
  background-color: black;
  color: #fff;
}

footer .container {
  display: flex;
  justify-content: space-between;
}

.foot1 h3,
.foot1 h5,
.foot1 p,
footer .container p,
footer .container h3 {
  margin: 15px 0;
  color: #fff;
  transition: 0.8s;
}

footer .container h3 {
  margin-bottom: 20px;
}

footer .container p:hover,
footer .container h5:hover {
  color: var(--main-color);
  transform: translateX(10px);
}

.linkesRes {
  display: none;
}

.showLinks {
  display: none;
}

.linkesRes ul a {
  display: none;
}

/* start Responsive */
@media (max-width: 1024px) {
  .linkesRes ul a {
    display: block;
    color: var(--text-color);
    margin: 10px 0;
    font-size: 18px;
    width: 100px;
  }

  .linkesRes {
    width: 40%;
    border: 2px solid red;
    height: 100%;
    position: relative;
    left: 400px;
    transition: 0.3s;
  }

  .showLinks.active .linkesRes {
    left: 10px;
  }

  .showLinks {
    display: block;
  }

  .linkesRes {
    display: block;
  }
}

/* Media Queries */
@media (max-width: 1000px) {
  .container {
    width: 90%;
  }

  nav {
    flex-direction: column;
    align-items: center;
  }

  nav h1 {
    margin: 5px;
    font-size: 35px;
  }

  nav .linkes {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }

  nav .linkes p {
    font-size: 18px;
    margin: 10px;
  }

  nav form.header-form i {
    font-size: 20px;
  }

  form.header-form {
    width: 50%;
    text-align: center;
  }

  .seacrch {
    margin: 10px 0;
    width: 100%;
    height: 35px;
    border: 20px;
  }

  footer .container {
    display: flex;
    flex-wrap: wrap;
  }

  footer .container div {
    width: 40%;
  }
}

@media (max-width: 551px) {
  footer .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  footer .container div {
    width: 60%;
  }

  .foot1 h3 {
    font-size: 30px;
  }
}

@media (max-width: 450px) {
  nav h1 {
    font-size: 30px;
  }

  nav .linkes p {
    font-size: 15px;
  }

  nav form i {
    font-size: 15px;
  }
}

/* Start index*/
.slider .container {
  margin: 40px auto;
  display: flex;
  justify-content: space-between;
}

.side_bar {
  background-color: var(--white-color);
  display: flex;
  flex-direction: column;
  padding: 40px;
  border: 1px solid var(--text-color);
  box-shadow: 2px 3px 5px #777;
}

.side_bar a {
  margin: 10px 0;
  border-bottom: 1px solid var(--text-color);
  color: var(--text-color);
  transition: 0.3s;
}

.side_bar h2 {
  color: var(--main-color);
}

.side_bar a:hover {
  color: var(--main-color);
}

.swiper {
  width: 70%;
  border: 2px solid var(--white-color);
  box-shadow: 2px 3px 5px #777;
}

.swiper .swiper-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  margin: auto;
}

@media (max-width: 900px) {
  .slider .container {
    flex-direction: column;
  }

  .slider .container .side_bar {
    margin-bottom: 20px;
  }

  .slider .container .swiper {
    width: 100%;
    height: 400px;
  }
}

.offer .container .dayOffers {
  display: flex;
  align-items: center;
}

.offer .container .dayOffers h3 {
  font-size: 16px;
  color: var(--main-color);
}

.timer .container {
  display: flex;
  align-items: center;
  text-align: left;
}
.timer .container .flex{
  display: flex;
}

.timer .container .flex > h2 {
  font-size: 30px;
  color: var(--main-color);
}

.timer .date {
  display: flex;
  justify-content: space-between;
}

.timer .date h3,
.timer .clock h2 {
  color: var(--text-color);
}

.timer .dateAndClock {
  display: flex;
  flex-direction: column;
  margin-left: 60px;
}

.timer .date h3 {
  font-size: 16px;
  margin: 0 5px;
}

.timer .clock {
  display: flex;
  justify-content: space-between;
}

.timer .clock h2 {
  font-size: 35px;
}

.timer .container {
  position: relative;
}

.timer .container .mySwiper .btn_swip {
  position: absolute;
  top: 35px;
  right: 0;
  background: var(--main-color);
  color: #fff;
  font-weight: bold;
  padding: 0 18px;
  border-radius: 5px;
}

.timer .container .mySwiper .btn_swip::after {
  font-size: 25px;
}

.timer .container .mySwiper .btn_swip.swiper-button-prev {
  left: calc(100% - 90px);
}
@media (max-width:640px) {
  .timer .container .flex{
    flex-direction: column;
    align-items: center;
  }
  .timer .container .flex > h2{
    font-size: 25px;
    margin-bottom: 10px;
  }
  .timer .container .dateAndClock{
    margin: 0;
  }
  .timer .container .flex .dateAndClock h3{
    font-size: 15px;
    text-align: left;
  }
  .timer .container .flex .dateAndClock h2{
    font-size: 25px;
    text-align: center;
  }
}

/* start swipper*/
.pro-div .products .product {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 50px;
}

.pro-div .products .product .pro,
.BestSellingProducts .container .bttom .pro {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
}

.pro-div .products .product .pro .img,
.BestSellingProducts .container .bttom .pro .img {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  overflow: hidden;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.07);
  border-radius: 8px;
}

.pro-div .products .product .pro .img img ,
.BestSellingProducts .container .bttom .pro .img img{
  width: 70%;
  height: 100%;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}

.pro-div .products .product .pro .img img[src="images/chair.png"],
.pro-div .products .product .pro .img img[src="images/game.png"],
.BestSellingProducts .container .bttom .pro .img img[src="images/game.png"],
.BestSellingProducts .container .bttom .pro .img img[src="images/chair.png"] {
  width: 50%;
}

.pro-div .products .product .pro .detailes,
.BestSellingProducts .container .bttom .pro .detailes {
  width: 80%;
  margin-top: 10px;
  color: var(--dark-color);
  text-align: left;
}

.pro-div .products .product .pro .detailes h5,
.BestSellingProducts .container .bttom .pro .detailes h5 {
  font-size: 14px;
}

.pro-div .products .product .pro .detailes div,
.BestSellingProducts .container .bttom .pro .detailes div {
  margin: 5px 0;
}

.pro-div .products .product .pro .detailes .sallery .new-sall,
.BestSellingProducts .container .bttom .pro .detailes .sallery .new-sall {
  margin-right: 20px;
  color: var(--main-color);
}

.pro-div .products .product .pro .detailes .sallery .old-sall,
.BestSellingProducts .container .bttom .pro .detailes .sallery .old-sall {
  text-decoration: line-through;
  color: var(--dark-color);
}

.pro-div .products .product .pro .detailes .stars i,
.BestSellingProducts .container .bttom .pro .detailes .stars i {
  color: #ffc918;
}

.pro-div .container .pro .icons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  z-index: 100;
  top: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}
.pro-div .container .pro:hover .icons ,
.pro-div .container .pro:hover .addcart,
.BestSellingProducts .container .bttom .pro:hover .addcart{
  opacity: 1;
  visibility: visible;
  cursor: pointer;
}

.pro-div .container .pro .icons .icon{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 15%;
}

.pro-div .container .pro .icons .icon i,
.BestSellingProducts .container .bttom .pro .icons .icon i {
  background-color: var(--white-color);
  color: var(--dark-color);
  margin: 10px;
  width: 100%;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 20px;
  border-radius: 50%;
  position: relative;
  bottom: 8px;
  right: 2px;
  transition: 0.3s;
}

.pro-div .container .pro .icons .icon i:hover,
.BestSellingProducts .container .bttom .pro .icons .icon i:hover {
  background-color: var(--main-color);
  cursor: pointer;
}

.pro-div .container .pro .icons .icon i.active,
.BestSellingProducts .container .bttom .pro .icons .icon i.active{
  background-color: var(--main-color);
}

.pro-div .container .pro .icons .sall {
  background-color: var(--main-color);
  width: 25%;
  height: 25px;
  text-align: center;
  color: #fff;
  border-radius: 10px;
  position: relative;
  bottom: 35px;
}
.pro-div .container .pro .addcart,
.BestSellingProducts .container .bttom .pro .addcart{
  position: absolute;
  bottom: 36%;
  background-color: var(--dark-color);
  width: 100%;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: var(--white-color);
  font-weight: bold;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}
.pro-div .container .pro .addcart:hover,
.BestSellingProducts .container .bttom .pro .addcart:hover {
  background-color: var(--main-color);
  color: #fff;
}
.pro-div .container .pro:hover .addcart,
.BestSellingProducts .container .bttom .pro:hover .addcar {
  opacity: 1;
  visibility: visible;
  cursor: pointer;
}
.pro-div .container .pro i {
  cursor: pointer;
}

section .bttnAllProduct {
  padding-bottom: 50px;
  border-bottom: 2px solid var(--main-color);
}

section .bttnAllProduct button {
  display: block;
  text-align: center;
  margin: 0 auto;
  width: 256px;
  height: 56px;
  border-radius: 4px;
  background-color: var(--main-color);
  color: #fff;
}
#browseCat .container{
  padding-bottom: 30px;
  border-bottom: 2px solid var(--main-color);
}

section .container .browseCat .categText {
  display: flex;
  width: 30%;
  align-items: center;
  justify-content: left;
}
section .container .browseCat .categText .shape ,
.offer .container .dayOffers .shape,
.BestSellingProducts .container .top .shape-text .shape{
  width: 20px;
  height: 40px;
  background-color: var(--main-color);
  border-radius: 8px;
  margin-right: 20px;
  display: inline-block;
  color: var(--main-color);
}

section .container .browseCat .categText h3 {
  font-size: 16px;
  color: var(--main-color);
}

section .container .browseCat h3 {
  margin: 20px 0;
  font-size: 35px;
  color: var(--dark-color);
}

section#browseCat .container {
  position: relative;
  display: flex;
  flex-direction: column;
}

#browseCat .container .mySwiper .btn_swip::after {
  font-size: 25px;
}

#browseCat .container .browseCat .catbtnswap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#browseCat .container .browseCat .catbtnswap>div {
  background: var(--main-color);
  color: #fff;
  font-weight: bold;
  padding: 0 18px;
  border-radius: 5px;
  top: 80px;
}

#browseCat .container .mySwiper .btn_swip.swiper-button-prev {
  left: calc(100% - 100px);
}

#browseCat .container .categ .cat {
  height: 120px;
  background-color: rgba(0, 0, 0, 0.07);
  border: 1px solid var(--dark-color);
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 3px;
  transition: 0.3s;
}

#browseCat .container .categ .cat h2 {
  font-size: 30px;
  color: var(--text-color);
  transition: 0.3s;
}

#browseCat .container .categ .cat i {
  color: var(--text-color);
  font-size: 30px;
  transition: 0.3s;
}

#browseCat .container .categ .cat:hover {
  transform: translateY(-10px);
  background-color: var(--main-color);
}

#browseCat .container .categ .cat:hover h2,
#browseCat .container .categ .cat:hover i {
  color: var(--white-color);
}
.BestSellingProducts .container .top .shape-text {
  display: flex;
  align-items: center;
}
.BestSellingProducts .container .top .shape-text .txt {
  font-size: 16px;
  color: var(--main-color);
}
.BestSellingProducts .container .top .bttn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}
.BestSellingProducts .container .top .bttn h4 {
  font-size: 35px;
  color: var(--dark-color);
}
.BestSellingProducts .container .top .bttn a button {
  width: 150px;
  height: 50px;
  border-radius: 3px;
  background-color: var(--main-color);
  color: #fff;
  font-size: 16px;
  transition: 0.3s;
}
.BestSellingProducts .container .top .bttn a button:hover {
  cursor: pointer;
  transform: translateY(-10px);
}
.BestSellingProducts .container .bttom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 50px;
}
.BestSellingProducts .container .bttom .pro .img,
.BestSellingProducts .container .bttom .pro .addcart{
  width: 95%;
}
.BestSellingProducts .container .bttom .pro .icons{
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: right;
  right: 15px;
}
.BestSellingProducts .container .bttom .pro .icons .icon{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 15%;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease;
}
.BestSellingProducts .container .bttom .pro:hover .icons .icon{
  opacity: 1;
  visibility: visible;
}
.BestSellingProducts .container{
  margin-bottom: 40px;
  border-bottom: 2px solid var(--main-color);
}
/* End index*/
/*      --Start Cart--    */

/* Breadcrumb Cart */
.breadcrumb-cart {
  margin-bottom: 50px;
  font-size: 18px;
  font-weight: 500;
}

.breadcrumb-cart .a1 {
  color: #ada6a6;
  margin-right: 8px;
  text-decoration: none;
}

.breadcrumb-cart .a2 {
  color: black;
  margin-left: 8px;
  text-decoration: none;
}

/* Cart Table */
.cart-container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.cart-grid {
  width: 100%;
  margin-bottom: 30px;
}

.cart-header {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  gap: 20px;
  padding: 15px 0;
  box-shadow: 0px 1px 13px 0px rgba(0, 0, 0, 0.05);
  font-weight: bold;
  padding-left: 25px;
  margin-bottom: 45px;
  color: var(--text-color);
}

.cart-item-row {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  gap: 20px;
  padding: 20px 0;
  padding-left: 25px;
  align-items: center;
  box-shadow: 0px 1px 13px 0px rgba(0, 0, 0, 0.05);
  margin-bottom: 45px;
  color: var(--text-color);
}

.product-info {
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;
}

.product-info img {
  width: 55px;
  height: 55px;
  object-fit: cover;
  position: relative;
  z-index: 1;
}

.product-info .remove {
  z-index: 2;
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: var(--main-color);
  cursor: pointer;
}

.quantity-input {
  width: 50px;
  padding: 5px;
  border: 1.5px solid #00000066;
  border-radius: 4px;
  color: var(--text-color);
}

/* Buttons Cart */
.cart-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 45px;
}

.btn {
  padding: 10px 20px;
  color: rgba(0, 0, 0, 1);
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
}

.btnn {
  color: var(--text-color);
  background-color: #fafafa;
  border: 1px solid rgba(0, 0, 0, 1);
  overflow: hidden;
  z-index: 1;
  position: relative;
}

.btnn::before {
  content: "";
  padding: 0%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(
    to right,
    var(--main-color) 0%,
    #e07575 100%
  );
  transition: 0.9s;
  display: block;
  z-index: -1;
}

.btnn:hover::before {
  padding: 100%;
}

.btnn:hover {
  color: white;
  scale: 1.1;
}

.btn-primary {
  background: var(--main-color);
  color: white;
}

.btn-primary:hover {
  background: #e07575;
}

.cart-bottom-section {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

/* Coupon Section Cart */
.left-section {
  flex: 1;
}

.coupon-section-cart {
  display: flex;
  gap: 15px;
  margin-bottom: 30px;
}

.coupon-input-cart {
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 1);
  border-radius: 4px;
  width: 200px;
  transition: 0.3s;
}

.coupon-input-cart:focus {
  scale: 1.1;
}

/* Cart Total */
.cart-total {
  border: 1px solid rgba(0, 0, 0, 1);
  border-radius: 4px;
  padding: 20px;
  width: 450px;
  margin-bottom: 50px;
  color: var(--text-color);
}

.cart-total h3 {
  margin-bottom: 20px;
}

.total-row {
  display: flex;
  justify-content: space-between;
  padding: 10px 0 10px 0;
}

.row1,
.row2 {
  border-bottom: 1px solid #a6a4a4eb;
}

/* Cart Dark Mode */
.dark .breadcrumb-cart .a2 {
  color: #eee;
}

.dark .cart-header,
.dark .cart-item-row {
  box-shadow: 0px 1px 13px 0px rgba(223, 222, 222, 0.17);
}

.dark .cart-total,
.dark .coupon-input-cart,
.dark .quantity-input,
.dark .cart-buttons .btn {
  background: #151d2a;
}

.dark .cart-total,
.dark .cart-buttons .btnn,
.dark .quantity-input,
.dark .coupon-input-cart {
  border: 1px solid #ddd;
}

.dark .row1,
.dark .row2 {
  border-bottom: 1px solid var(--text-color);
}

.dark .btn-primary {
  background: var(--main-color);
}

.dark .btn-primary:hover {
  background: #e07575;
}

/* Media Queries Cart*/
@media (max-width: 1000px) {
  .cart-container {
    padding: 10px;
  }

  .cart-header {
    grid-template-columns: 2fr 1fr 1fr 1fr;
    gap: 10px;
    font-size: 14px;
  }

  .cart-item-row {
    grid-template-columns: 2fr 1fr 1fr 1fr;
    gap: 10px;
  }

  .product-info {
    gap: 10px;
  }

  .cart-bottom-section {
    flex-direction: column;
  }

  .cart-total {
    width: 100%;
  }
}

@media (max-width: 551px) {
  .cart-header {
    grid-template-columns: 2fr 1fr 1fr;
  }

  .cart-item-row {
    grid-template-columns: 2fr 1fr 1fr;
  }

  .cart-header div:last-child,
  .cart-item-row div:last-child {
    display: none;
  }

  .cart-buttons {
    flex-direction: column;
    gap: 10px;
  }

  .cart-buttons .btn {
    width: 100%;
  }

  .coupon-section {
    flex-direction: column;
  }

  .coupon-input {
    width: 100%;
  }
}

@media (max-width: 450px) {
  .cart-container {
    padding: 5px;
  }

  .cart-header {
    grid-template-columns: 2fr 1fr;
  }

  .cart-item-row {
    grid-template-columns: 2fr 1fr;
    gap: 5px;
  }

  .cart-header div:nth-child(3),
  .cart-item-row div:nth-child(3) {
    display: none;
  }

  .product-info img {
    width: 60px;
    height: 60px;
  }

  .product-info .remove {
    left: 45px;
  }

  .product-info span {
    font-size: 14px;
  }

  .cart-total {
    padding: 15px;
  }

  .btn {
    padding: 8px 15px;
    font-size: 14px;
  }
}

/*      --End Cart--    */

/*      --Start About--   */

/* breadcrumb-about */
.breadcrumb-about {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  margin-left: 140px;
  margin-top: 60px;
}

.breadcrumb-about .a1 {
  color: gray;
}

.breadcrumb-about .a2 {
  margin: 0 5px;
  color: #000;
}

.breadcrumb-about .a2 {
  color: #333;
}

.dark .breadcrumb-about .a1 {
  color: #ccc;
}

.dark .breadcrumb-about .a2 {
  color: #fff;
}

/* about section */
.about-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px;
  background-color: #f9f9f9;
}

.dark .about-section {
  background: #151d2a;
}

/* teams */
.team {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
}

.team-member {
  text-align: center;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  width: 300px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.team-member:hover {
  transform: scale(1.05);
  /* تأثير تكبير عند المرور */
}

.team-member img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 15px;
}

.team-member h3 {
  font-size: 20px;
  color: #333;
  margin-bottom: 5px;
}

.team-member p {
  font-size: 16px;
  color: #666;
}

.dark .team-member {
  background-color: #999;
}

.dark .team-member h3 {
  color: black;
}

.dark .team-member p {
  color: #111;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
  list-style: none;
  padding: 0;
}

.social-links li {
  font-size: 18px;
}

.social-links li a {
  color: #555;
  text-decoration: none;
  transition: color 0.3s;
}

.social-links li a .fa-instagram:hover {
  color: #e71c37;
}

.social-links li a .fa-twitter:hover {
  color: #1c52e7;
}

.social-links li a .fa-linkedin:hover {
  color: #1c52e7;
}

.dark .social-links li a {
  color: #222;
}

/* features */
.features {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px 20px;
}

.features {
  display: flex;
  justify-content: space-around;
  padding: 40px;
  flex-wrap: wrap;
  gap: 70px;
  margin-bottom: 50px;
}

.feature-box {
  text-align: center;
  padding: 25px;
  background: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 250px;
}

.feature-box:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.15);
}

.feature-box i {
  display: inline-block;
  width: 80px;
  height: 80px;
  line-height: 80px;
  font-size: 35px;
  border-radius: 50%;
  margin-bottom: 15px;
  transition: transform 0.3s ease, background-color 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #333;
  /* لون جديد */
  color: #fff;
}

.feature-box i:hover {
  transform: scale(1.1);
  background-color: #000;
}

.feature-box h3 {
  font-size: 22px;
  margin: 15px 0;
  color: #333;
  font-weight: 600;
}

.feature-box p {
  font-size: 14px;
  color: #777;
}

.dark .feature-box {
  background-color: #999;
  color: #ddd;
  box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);
  /* تخفيف الظلال */
}

.dark .feature-box h3 {
  color: black;
}

.dark .feature-box p {
  color: #111;
}

.dark .feature-box i {
  background-color: #222;
  color: #fff;
}

/*      --End About--   */
/*      --Start Error Page--  */
:root {
  --breadcrumb-color-home: grey;
  --breadcrumb-color-about: #333;
  --breadcrumb-color-home-dark: #ccc;
  --breadcrumb-color-about-dark: #fff;
  --breadcrumb-separator-color: black;
  --breadcrumb-separator-color-dark: #ccc;
}

body.light .breadcrumb .a1 {
  color: var(--breadcrumb-color-home);
}

body.light .breadcrumb .a2 {
  color: var(--breadcrumb-color-about);
}

body.dark .breadcrumb .a1 {
  color: var(--breadcrumb-color-home-dark);
}

body.dark .breadcrumb .a2 {
  color: var(--breadcrumb-color-about-dark);
}

.breadcrumb {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  margin-left: 140px;
  margin-top: 60px;
}

.breadcrumb .a1,
.a2 {
  margin-right: 5px;
}

.dark .notfound {
  color: #fff;
}

.notfound h1 {
  font-size: 100px;
  text-align: center;
}

.notfound p {
  font-size: medium;
  text-align: center;
}

.btn-back {
  display: inline-block;
  padding: 15px 30px;
  background-color: #e74c3c;
  color: white;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  transition: all 0.3s ease;
  border: none;
  cursor: pointer;
}

.btn-back:hover {
  background-color: #c0392b;
}

/*      --Start CheckOut--   */

/* Breadcrumb CheckOut*/
.breadcrumb-checkout {
  padding: 30px 10%;
  margin-bottom: 25px;
  color: #888;
  font-size: 16px;
  font-weight: 500;
}

.breadcrumb-checkout a {
  color: #888;
  margin-right: 5px;
  font-size: 17px;
  text-decoration: none;
}

.breadcrumb-checkout .check {
  color: #000000;
}

.dark .breadcrumb-checkout .check {
  color: white;
}

/* container checkout */
.container-checkout {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 40px;
  display: flex;
  gap: 64px;
  align-items: flex-start;
}

/* Billing Form */
.billing {
  flex: 1;
}

.billing h2 {
  margin-bottom: 32px;
  color: var(--text-color);
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  width: 70%;
}

.form-group label {
  margin-bottom: 8px;
  font-size: 14px;
  color: #666;
}

.dark .form-group label {
  color: white;
}

.form-group label span {
  color: var(--main-color);
}

.dark .form-group label span {
  color: var(--main-color);
}

.form-group input {
  padding: 12px;
  border-radius: 4px;
  background: #f5f5f5;
  margin-bottom: 10px;
  transition: 0.3s;
  width: 100%;
}

.form-group input:focus {
  scale: 1.05;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.dark .form-group input {
  background: #ddd;
}

input[type="checkbox"] {
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: #ccc;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
}

#label {
  display: flex;
  color: var(--text-color);
  margin-bottom: 20px;
  margin-top: 20px;
}

input[type="checkbox"]:checked {
  background-color: var(--main-color);
  margin-right: 5px;
}

input[type="checkbox"]:checked::after {
  content: "";
  position: absolute;
  top: 1px;
  left: 7px;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

/* Order Summary */
.order-summary {
  width: 400px;
  margin-top: 77px;
}

.product-item {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  width: 100%;
  color: var(--text-color);
}

.product-left {
  display: flex;
  align-items: center;
  gap: 16px;
  flex: 1;
}

.product-image {
  width: 60px;
  height: 60px;
  border-radius: 4px;
  overflow: hidden;
}

.product-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.total-row-check {
  display: flex;
  justify-content: space-between;
  padding: 15px 5px;
  color: var(--text-color);
}

.row3,
.row4 {
  border-bottom: 1px solid black;
}

.dark .row3,
.dark .row4 {
  border-bottom: 1px solid white;
}

.payment-method {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 30px;
  margin-top: 10px;
  justify-content: space-between;
  color: var(--text-color);
}

.dark .payment-method {
  color: var(--text-color);
}

.payment-method input[type="radio"] {
  width: 20px;
  height: 20px;
  margin: 0;
  cursor: pointer;
  accent-color: var(--main-color);
}

.payment-method-left {
  display: flex;
  align-items: center;
  gap: 8px;
}

.payment-icons {
  display: flex;
  align-items: center;
  gap: 8px;
}

.payment-icon {
  width: 33px;
  height: 20px;
  border-radius: 4px;
  overflow: hidden;
}

.payment-icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.coupon-container {
  display: flex;
  gap: 16px;
  margin-bottom: 25px;
}

.coupon-container input {
  flex: 1;
  padding: 12px;
  border: 1px solid #eee;
  border-radius: 4px;
  background: #f5f5f5;
  border: 1px solid #000000;
  transition: 0.3s;
}

.coupon-container input:focus {
  scale: 1.1;
}

.dark .coupon-container input {
  background: #ddd;
}

.apply-btn {
  padding: 12px 24px;
  background: var(--main-color);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
}

.dark .apply-btn,
.dark .place-order-btn {
  background: var(--main-color);
}

.apply-btn:hover {
  background: #e07575;
}

.place-order-btn {
  width: 150px;
  padding: 12px;
  background: var(--main-color);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: left;
  transition: 0.3s;
}

.place-order-btn:hover {
  background: #e07575;
}

@media (max-width: 1000px) {
  .container-checkout {
    flex-direction: column-reverse;
  }

  form.cheakout-form {
    width: 100%;
  }

  .cheakout-form .form-group {
    width: 90%;
    margin: 10px auto;
  }

  .billing {
    width: 100%;
  }

  .billing form input[type="text"] {
    width: 100%;
  }

  .order-summary {
    width: 100%;
  }
}

/*      --End CheckOut--   */
/*      --Start Account--   */
.icon-account {
  color: var(--main-color);
  font-size: 18px;
}

.breadcrumb-account {
  display: flex;
  justify-content: space-between;
  padding: 30px 9%;
  font-size: 17px;
  font-weight: 500px;
}

.breadcrumb-account .a1 {
  color: #888;
  margin-right: 5px;
  text-decoration: none;
}

.breadcrumb-account .check {
  color: var(--text-color);
}

.breadcrumb-account span {
  margin-left: 3px;
  color: var(--main-color);
}

/* Sidebar Account */
.container-account {
  display: flex;
  padding: 40px 9%;
  margin-bottom: 60px;
  gap: 50px;
}

.sidebar-account {
  width: 250px;
}

.sidebar-account p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: var(--text-color);
}

.sidebar-menu-account {
  list-style: none;
}

.sidebar-menu-account li {
  padding: 10px 30px;
  color: #666;
  transition: 0.3s;
}

.sidebar-menu-account li:hover {
  color: var(--main-color);
}

.sidebar-menu-account .active {
  color: var(--main-color);
}

/* Profile Form */
.profile-form {
  flex: 1;
  box-shadow: 0px 1px 13px 0px rgba(0, 0, 0, 0.05);
  padding: 35px 80px;
}

.form-title {
  color: var(--main-color);
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: 500;
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.form-account {
  margin-bottom: 20px;
}

.form-account label {
  color: var(--text-color);
  font-size: 16px;
  line-height: 24px;
}

.form-account input {
  width: 100%;
  margin-top: 10px;
  padding: 12px;
  border-radius: 4px;
  background: #f5f5f5;
  transition: 0.3s;
}

.form-account input:focus {
  scale: 1.05;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.form-actions {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  margin-top: 20px;
}

.btn-account {
  padding: 12px 25px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-cancel {
  background: transparent;
  color: var(--text-color);
  overflow: hidden;
  z-index: 1;
  position: relative;
}

.btn-cancel:hover {
  color: white;
}

.btn-cancel::before {
  content: '';
  padding: 0%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right, var(--main-color) 0%, #e07575 100%);
  transition: 0.9s;
  display: block;
  z-index: -1;
}

.btn-cancel:hover::before {
  padding: 100%;

}

.btn-save {
  background: var(--main-color);
  color: white;
}

.btn-save:hover {
  background: #e07575;
}

/* Dark Mode Account */
.dark .breadcrumb-account .a1 {
  color: #ddd;
}

.dark .sidebar-menu-account li:not(.active) {
  color: #ddd;
}

.dark .sidebar-menu-account li:hover {
  color: var(--main-color);
}

.dark .profile-form {
  box-shadow: 0px 1px 13px 0px rgba(255, 254, 254, 0.05);
}

.dark .form-account input {
  background: #ddd;
}

/* Media Query Account */
@media screen and (max-width: 1000px) {
  .breadcrumb-account {
    padding: 20px 50px;
  }

  .container-account {
    flex-direction: column;
  }

  aside.sidebar-account {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .form-title {
    padding: 20px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .profile-form {
    padding: 0%;
  }

  form.account-forms {
    width: 100%;
  }

  .account-forms .form-account {
    width: 90%;
    margin: 10px auto;
  }

  .form-actions {
    margin-right: 30px;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 551px) {
  aside.sidebar-account {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .form-grid {
    grid-template-columns: none;
  }

  .form-actions {
    flex-direction: column;
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
  }

  .btn-account {
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 450px) {
  .breadcrumb-account {
    gap: 30px;
  }
}

/*      --End Account--   */
