<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
      integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer" />
    <link
      href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css"
      rel="stylesheet" />
    <title>Store Hub | CheckOut</title>
  </head>

  <body class="light">
    <header>
      <div class="container">
        <nav>
          <h1>STOREHUB</h1>
          <div class="linkes">
            <a href="index.html">
              <p>Home</p>
            </a>
            <a href="allproduct.html">
              <p>All Product</p>
            </a>
            <a href="about.html">
              <p>About</p>
            </a>
            <a href="contact.html">
              <p>Contact</p>
            </a>
          </div>
          <form class="header-form">
            <input type="search" placeholder="Seacrch" class="seacrch" />
            <i class="fa-regular fa-heart"></i>
            <a href="cart.html"><i class="fa-solid fa-cart-shopping"></i></a>
            <a href="account.html"><i class="fa-regular fa-user"></i></a>
            <input type="checkbox" id="toggle" />

            <label class="toggle" for="toggle">
              <i class="bx bxs-sun"></i>
              <i class="bx bx-moon"></i>
              <span class="ball"></span>
            </label>
          </form>
        </nav>
      </div>
    </header>

    <div class="breadcrumb-checkout">
      <a href="#">Account</a> / <a href="account.html">My Account</a> /
      <a href="#">Product</a> / <a href="cart.html">View Cart</a>
      <span class="check">/</span>
      <a href="checkout.html" class="check">Checkout</a>
    </div>
    <div class="container-checkout">
      <div class="billing">
        <h2>Billing Details</h2>
        <form class="cheakout-form">
          <div class="form-group">
            <label>First Name <span>*</span></label>
            <input type="text" />
          </div>
          <div class="form-group">
            <label>Company Name</label>
            <input type="text" />
          </div>
          <div class="form-group">
            <label>Street Address <span>*</span></label>
            <input type="text" />
          </div>
          <div class="form-group">
            <label>Apartment, floor, etc. (optional)</label>
            <input type="text" />
          </div>
          <div class="form-group">
            <label>Town/City<span>*</span></label>
            <input type="text" />
          </div>
          <div class="form-group">
            <label>Phone Number<span>*</span></label>
            <input type="tel" />
          </div>
          <div class="form-group">
            <label>Email Address<span>*</span></label>
            <input type="email" />
          </div>
          <label id="label">
            <input type="checkbox" checked /> Save this information for faster
            check-out next time
          </label>
        </form>
      </div>

      <div class="order-summary">
        <div class="product-item">
          <div class="product-left">
            <div class="product-image">
              <img src="images/lcd.png" alt="LCD Monitor" />
            </div>
            <div class="product-name">LCD Monitor</div>
          </div>
          <div class="product-price">$650</div>
        </div>

        <div class="product-item">
          <div class="product-left">
            <div class="product-image">
              <img src="images/game.png" alt="H1 Gamepad" />
            </div>
            <div class="product-name">H1 Gamepad</div>
          </div>
          <div class="product-price">$1100</div>
        </div>
        <div class="total-row-check row3">
          <span>Subtotal:</span>
          <span>$1750</span>
        </div>
        <div class="total-row-check row4">
          <span>Shipping:</span>
          <span>Free</span>
        </div>
        <div class="total-row-check">
          <span>Total:</span>
          <span>$1750</span>
        </div>

        <div class="payment-options">
          <div class="payment-method">
            <div class="payment-method-left">
              <input type="radio" name="payment" id="bank" />
              <label for="bank">Bank</label>
            </div>
            <div class="payment-icons">
              <div class="payment-icon">
                <img src="images/Visa.png" alt="Bank Card 1" />
              </div>
              <div class="payment-icon">
                <img src="images/Bkash.png" alt="Bank Card 2" />
              </div>
              <div class="payment-icon">
                <img src="images/Mastercard.png" alt="Bank Card 3" />
              </div>
              <div class="payment-icon">
                <img src="images/Nagad.png" alt="Bank Card 4" />
              </div>
            </div>
          </div>
          <div class="payment-method">
            <div class="payment-method-left">
              <input type="radio" name="payment" id="cod" checked />
              <label for="cod">Cash on delivery</label>
            </div>
          </div>
        </div>

        <div class="coupon-container">
          <input type="text" placeholder="Coupon Code" />
          <button class="apply-btn">Apply Coupon</button>
        </div>

        <button class="place-order-btn">Place Order</button>
      </div>
    </div>

    <footer>
      <div class="container">
        <div class="foot1">
          <h3>STOREHUB</h3>
          <a href="#">
            <p>Subscribe</p>
          </a>
          <a href="#">
            <p>Get 10% off your first order</p>
          </a>
          <input
            type="email"
            class="seacrch"
            placeholder="Enter Your Email : " />
        </div>
        <div class="foot2">
          <h3>Support</h3>
          <a href="#">
            <p>NATU - NEW ASSUIT</p>
          </a>
          <a href="#">
            <p>StoreHub@gmail.com</p>
          </a>
          <a href="#">
            <p>+201551803645</p>
          </a>
          <a href="#">
            <p>+201551954315</p>
          </a>
        </div>
        <div class="foot3">
          <h3>Account</h3>
          <a href="account.html">
            <p>My Account</p>
          </a>
          <a href="login.html">
            <p>Login / Register</p>
          </a>
          <a href="cart.html">
            <p>Cart</p>
          </a>
          <a href="allproduct.html">
            <p>All Product</p>
          </a>
          <a href="#">
            <p>Shop</p>
          </a>
        </div>
        <div class="foot4">
          <h3>Quick Link</h3>
          <a href="#">
            <p>Privacy Policy</p>
          </a>
          <a href="#">
            <p>Terms Of Use</p>
          </a>
          <a href="#">
            <p>FAQ</p>
          </a>
          <a href="contact.html">
            <p>Contact</p>
          </a>
        </div>
      </div>
      <p style="text-align: center; padding-bottom: 8px">
        Copyright &copy;<span> STOREHUB </span>all right reserved
      </p>
    </footer>

    <script src="js/darkmode.js"></script>
  </body>
</html>
