<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
      integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="light">
    <!--Header-->
    <header>
      <div class="container">
        <nav>
          <h1>STOREHUB</h1>
          <div class="linkes">
            <a href="{% url 'index' %}" >
              <p>Home</p>
            </a>
            <a href="{% url 'allproducts' %}">
              <p>All Products</p>
            </a>
            <a href="{% url 'about' %}">
              <p>About</p>
            </a>
            <a href="{% url 'contact' %}">
              <p>Contact</p>
            </a>
          </div>
          <form class="header-form">
            <input type="search" placeholder="Seacrch" class="seacrch" />
            <a href="{% url 'wishlist' %}"><i class="fa-regular fa-heart"></i></a>
            <a href="{% url 'cart' %}"><i class="fa-solid fa-cart-shopping"></i></a>
            <a href="{% url 'register' %}"><i class="fa-regular fa-user"></i></a>
            <input type="checkbox" id="toggle" />

            <label class="toggle" for="toggle">
              <i class="bx bxs-sun"></i>
              <i class="bx bx-moon"></i>
              <span class="ball"></span>
            </label>
          </form>
        </nav>
      </div>
    </header>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>


  

