{% extends 'pages/base.html' %}

{% block content %}
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
      integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css"
      rel="stylesheet"
    />
    <title>Reset Your Password</title>
  </head>

  <body class="light">
    <div class="login">
      <div class="login-container">
        <div class="login-image">
          <img src="{% static 'images/login.png' %}" alt="Reset Password">
        </div>
        <div class="login-form">
          <h6>Reset Your Password</h6>
          <p>Enter your new password below.</p>

          <form method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}

            <div class="input-box">
              <input type="password" name="new_password1" placeholder="New Password" required>
              <i class="fa-solid fa-lock"></i>
              {% for error in form.new_password1.errors %}
                <div class="error-message">{{ error }}</div>
              {% endfor %}
            </div>

            <div class="input-box">
              <input type="password" name="new_password2" placeholder="Confirm New Password" required>
              <i class="fa-solid fa-lock"></i>
              {% for error in form.new_password2.errors %}
                <div class="error-message">{{ error }}</div>
              {% endfor %}
            </div>

            <div class="input-box">
              <button type="submit" class="btn btn-primary"><span>Reset Password</span></button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
{% endblock %}
