{% extends 'pages/base.html' %}

{% block content %}
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
      integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css"
      rel="stylesheet"
    />
    <title>Password Reset Sent</title>
  </head>

  <body class="light">
    <div class="login">
      <div class="login-container">
        <div class="login-image">
          <img src="{% static 'images/login.png' %}" alt="Password Reset Sent">
        </div>
        <div class="login-form">
          <h6>Password Reset Email Sent</h6>
          <p>Please check your email for instructions to reset your password.</p>

          <div class="input-box">
            <button class="btn btn-primary" onclick="window.location.href='{% url 'login' %}'"><span>Back to Login</span></button>
          </div>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
{% endblock %}